* {box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; font-family: 'Lato', sans-serif; 
    justify-content: center; align-items: center; text-align: center; width: 100%;
    line-height: 1.2;}
 ul {list-style: none;}
#bthola, #btinic, #btcont {background-color: fbfbfb; border-radius: 50px; font-size: 20px;}
body {min-height: 100vh;}
#boton {background-color:#af599e; color:#fbfbfb; padding: 10px; border-radius: 50px; 
        font-size: 20px; text-justify: center; margin-top: 20px; margin-bottom: 200px;}
.icono {width: 50px; height: 50px;}
.lista {display: flex;}
#foto {width: 400px; height: 400px; border-radius: 100%; margin-top: 150px; margin-bottom: 30px;}
header {background: #fff; position: fixed; height: 90px; font-size: 18px; padding-top: 35px; border-bottom:solid #af599e;}
footer {height: 90px;background-color: #af599e; color: #fbfbfb; padding-top: 35px;}
h1 {font-size: 48px; margin-bottom: 30px;}
h2 {font-size: 32px;}
#inicio, #servicios, span {font-size: 18px;}
#profesional {background-color: rgb(175, 89, 150, 0.3); 
              margin-top: 200px; margin-bottom: 20px; border-radius: 15px; list-style: none;}
#contactos {margin-top: 100px; margin-bottom: 100px;}
a {text-decoration: none; color: inherit;}
main {max-width: 1200px;margin: auto;}
